body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

/* CARD */
.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* INPUTS */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
}

/* BOTONES */
.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn.primary {
  background: #3b82f6;
  color: white;
}

.btn-edit {
  background: #22c55e;
  color: white;
}

.btn-delete {
  background: #ef4444;
  color: white;
}

/* TABLA */
.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #1e293b;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background: #334155;
}

/* ALERTAS */
.alert {
  display: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.success {
  background: #16a34a;
}

.error {
  background: #dc2626;
}

/* LOADING */
.loading {
  display: none;
  text-align: center;
  margin: 10px 0;
}