h1{
    font-family: 'Curlz MT', cursive; /* tipo de letra del h1 */
    font-size: 3em;
    text-align: center;
}

p{
    line-height: 1.5rem; 
    text-indent: 4rem; 
    padding: 10px;
    text-align: justify;
    text-transform: lowercase;
}

.uno{
    color: #630101; 
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1.5em;
    background-color: #6a9eff;
}

.dos{
    color: #1b9341; 
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1.5em;
    background-color: #ffc36a;
}

.todo{
    background-color: #ff6a6a; 
    border : 2px solid #000000; 
    padding: 20px; 
    border-radius: 10px; 
}
