h1{
    text-align: center;
    font-size: 45px;
    color: red;
}
p{
    text-align: justify;
}
div{
    background-color: green;
    border: 5px solid red;
    width: 30%;
    display: inline-block;
    padding-left: 30px;
    padding-top: 30px;
}
img{
    margin-left:60px
}

